<app-my-header name="Залікова робота"></app-my-header>
<h1>4. Розробити сервіс для наближеного обчислення значення похідних елементарних функцій. Для пошуку похідної функції f (x) в точці x0 з кроком h(sin(x),tan(x),x^n)</h1>
<app-input-form (calculate)="onCalculate($event)"></app-input-form>
<ion-card *ngIf="derivativeResult">
    <ion-card-header>
        Result
    </ion-card-header>
    <ion-card-content>
        <app-result [result]="derivativeResult"></app-result>
    </ion-card-content>
</ion-card>